*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #101214, #f4f4f5);
    height: 100vh;
    
}

.app{
    position: relative;
    background: rgba(255, 255, 255, 0.823);
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 4px 8px     rgba(13, 8, 8, 0.371);


}

.app h1{
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

.qzs{
    padding: 20px 0;
     
}



.qzs h2{
    font-size: 18px;
    color: #00000093;
    font-size: 23px;
    margin-bottom: 30px;
}

.btn{

    color:rgba(221, 213, 213, 0.656) ;
    background:#101214dd ;
    font-weight: 500;
    width: 100%;
    border: 1px solid whitesmoke;
    padding: 10px;
    margin: 20px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3;

}

.btn:hover:not([disabled]){
    background: #0056b3;
    color: whitesmoke;
}

.btn:disabled{
    cursor: no-drop;
}

#nextbtn{
    background: black;
    color:white ;
    font-weight: 500px;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

#nextbtn:hover{
    color: white;
    background: #0056b3;
}

.refresh-btn {
    position: absolute;
    top: 32px;
    right: 40px;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    display: none;  
}

.refresh-btn:hover {
    color: #333;
}

.home-btn {
    background: #000000;
    color: white;
    width: 150px;
    padding: 10px;
    margin: 20px auto 0;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    display: none; /* hidden until score screen */
}

.home-btn:hover {
    background: #0056b3;
}


.correct{
    background: rgba(112, 225, 112, 0.711);
    color: black;
}
.incorrect{
    background: rgba(224, 73, 73, 0.699);
    color: black;
}

.button-row {
    display: flex;
    justify-content: center;
    gap: 20px;       
    margin-top: 20px;
}

.button-row button {
    width: 150px;
}

#nextbtn, #homebtn {
    display: none;
}


